* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(210, 194, 144);
    --btn-color-hover:rgb(167, 156, 119);
    --text-color: black;
    --padding: 2rem 6rem;
    --font-modernoir:tt-modernoir;
    --font-futura:futura-pt-condensed;
    --transition: all 0.3s;
    --fondo-trans: rgba(0, 0, 0, 0.7);
}

html {
    scroll-behavior: smooth;
}

header {
    text-align: center;
    padding: var(--padding);
    padding-bottom: 5rem;
    padding-top: 5rem;
    scroll-margin-top: 70px;
}


h1 {
    font-size: 8rem;
    font-family: var(--font-modernoir);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    font-family:var(--font-futura);
    padding-bottom: 4rem;
}

.img-header > img {
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin: 0 auto;
    display: block;
    padding-bottom: 5rem;
    align-items: center;
}

.text-header {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 6rem 4rem 6rem ;
}

.btn-header {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: var(--font-futura);
}

.btn-header:hover {
    transition: var(--transition);
    background-color: var(--btn-color-hover);
}

/* FOOTER */
#footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding);
    font-family: var(--font-futura);
    position: relative;
  }
  
  .footer-left > img {
    width: 220px;
    max-width: 100%;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: all 0.3s ease;
  
  }
  
  .footer-right > p {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .footer-right > p:hover {
      font-style: italic;
      color: var(--btn-color-hover);
  }
  
  .social {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 25px;
      width: 200px;
      font-size: 1.5rem;
  }
  
  .social > a {
      color: white;
      text-decoration: none;
      transition: all 0.3s ease;
  }
  
  .social > i {
    cursor: pointer;
  }
  
  .social > a:hover > i {
      color: var(--btn-color-hover);
      transform: scale(1.2);
  }
  
  .politics {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 1.2rem;
    margin-top: 40px;
    text-transform: uppercase;
    padding-bottom: 4rem;
  }
  
  .politics > p {
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: underline;
  }
  
  .politics p:hover {
    opacity: 0.7;
    color: var(--btn-color-hover);
    text-decoration-color: var(--btn-color-hover);
  
  }
  
  .copyright {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  
  
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 678px) {
  
      /* HEADER */
      header {
          padding: 5rem 2rem;
      }
  
      h1 {
          font-size: 3.3rem;
          font-family: var(--font-modernoir);
          padding-bottom: 0.5rem;
      }
      
      h2 {
          font-size: 1.5rem;
          font-family:var(--font-futura);
          padding-bottom: 1rem;
      }
  
      .img-header > img {
          padding-bottom: 2rem;
      }
  
      .text-header {
          padding: 0;
          padding-bottom: 2rem;
          font-size: 1rem;
  
      }
  
      .btn-header {
          text-decoration: none;
          font-size: 1.2rem;
          background-color: var(--btn-color);
          color: var(--text-color);
          padding: 0.5rem 1rem;
          border: black solid 1.5px;
          font-family: var(--font-futura);
      }
  
      /* FOOTER */
      #footer {
          flex-direction: column;
          align-items: center;
          padding: 30px;
          text-align: center;
        }
      
        .footer-right {
          align-items: center;
          margin-top: 20px;
        }
      
        .politics {
          flex-direction: column;
          gap: 10px;
        }
  }