* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(210, 194, 144);
    --btn-color-hover:rgb(167, 156, 119);
    --text-color: black;
    --padding: 2rem 6rem;
    --font-modernoir:tt-modernoir;
    --font-futura:futura-pt-condensed;
    --transition: all 0.3s;
    --fondo-trans: rgba(0, 0, 0, 0.7);
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: var(--font-futura);
}

main {
  min-height: auto;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* FLECHA */
.back-arrow {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-futura);
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.back-arrow:hover {
  color: var(--btn-color-hover);
}


header {
    text-align: center;
    padding: var(--padding);
}


h1 {
    font-size: 5rem;
    font-family: var(--font-modernoir);
    padding-bottom: 0.5rem;
}

/* ENTRADAS */
#buyTicket {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem 2rem;
  border: 2px solid black;
}

#buyTicket > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#buyTicket form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-family: var(--font-modernoir);
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

input[type="number"] {
  width: 80px;
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: transparent;
  color: white;
  transition: var(--transition);
}

input[type="number"]:focus {
  outline: none;
  border-color: var(--btn-color);
}

input[type="number"] {
  background-color: white;
  color: black;
}

/* Quitar flechas en Chrome, Safari y Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

.total-price-cont p:first-child {
  color: black;
  font-weight: normal; /* opcional */
}


#totalPrice {
  color: black !important;
}









/* BOTONES + & - */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  appearance: auto;
  margin: 0;
}

#buyTicket form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

button.increase,
button.decrease {
  background-color: var(--btn-color);
  border: 1px solid black;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

button.increase:hover,
button.decrease:hover {
  background-color: var(--btn-color-hover);
}


/* VENTANA MODAL PAGO */
/* VENTANA MODAL PAGO ESTILO #modalWindow */
#paymentModal {
  display: none; /* oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--fondo-trans);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}

#paymentModal.show-modal {
  display: flex;
  opacity: 1;
}

#paymentModal > .modal-content {
  color: white;
  background-color: var(--text-color); /* blanco si var(--text-color)=white */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: 2px solid white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  width: 600px;
  max-width: 90vw;
  box-sizing: border-box;
}

#paymentModal > .modal-content > h2 {
  padding-bottom: 2rem;
  font-family: var(--font-modernoir);
  font-size: 2rem;
}

#paymentModal .closeModal {
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;
}

#paymentModal.show-modal .modal-content button {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: black solid 1.5px;
  font-family: var(--font-futura);
  cursor: pointer;
}

#paymentModal.show-modal .modal-content button:hover {
  transition: var(--transition);
  background-color: var(--btn-color-hover);
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: center;
  font-family: var(--font-futura);
  font-size: 2rem;
  position: relative;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
} */


/* TOTAL */
.total-price-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 1rem;
  margin-top: 1rem;
}

.total-price-cont p {
  font-size: 1.4rem;
  font-family: var(--font-futura);
  color: white;
}

#totalPrice {
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--btn-color);
}

/* BOTÓN COMPRAR */
input[type="submit"] {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border: 1.5px solid black;
  font-family: var(--font-futura);
  cursor: pointer;
  transition: var(--transition);
}

input[type="submit"]:hover {
  background-color: var(--btn-color-hover);
}

input.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* FOOTER */
#footer {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding);
  font-family: var(--font-futura);
  position: relative;
}

.footer-left > img {
  width: 220px;
  max-width: 100%;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: all 0.3s ease;

}

.footer-right > p {
  font-size: 2.5rem;
  margin: 0;
}

.footer-right > p:hover {
    font-style: italic;
    color: var(--btn-color-hover);
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    width: 200px;
    font-size: 1.5rem;
}

.social > a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social > i {
  cursor: pointer;
}

.social > a:hover > i {
    color: var(--btn-color-hover);
    transform: scale(1.2);
}

.politics {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 1.2rem;
  margin-top: 40px;
  text-transform: uppercase;
  padding-bottom: 4rem;
}

.politics > p {
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-decoration: underline;
}

.politics p:hover {
  opacity: 0.7;
  color: var(--btn-color-hover);
  text-decoration-color: var(--btn-color-hover);

}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
  
  
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 678px) {
  
    /* HEADER */
    header {
      padding: 2rem;
    }

    h1 {
      font-size: 3.3rem;
      font-family: var(--font-modernoir);
      padding-bottom: 0.5rem;
    }

    .text-header {
      padding: 0;
      padding-bottom: 2rem;
      font-size: 1rem;
    }

    /* COMPRAR */
    main {
      padding: 1rem;
    }
  
    /* FOOTER */
    #footer {
      flex-direction: column;
      align-items: center;
      padding: 30px;
      text-align: center;
    }
  
    #footer > div {
      margin-bottom: 3rem;
    }
  
    .footer-right {
      align-items: center;
      margin-top: 20px;
    }

    .footer-right > p {
      font-size: 1.8rem;
    }
  
    .politics {
      flex-direction: column;
      gap: 2rem;
    }
    .social i {
      font-size: 2rem;
    }
  }