* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(241, 124, 181);
    --btn-color-hover:rgb(170, 55, 111);
    --text-color: black;
    --padding: 2rem 6rem;
    --font-modernoir:;
    --font-futura:;
    --transition: all 0.3s;
}


/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.menulink {
    color: black;
    list-style: none;
    margin: 0;
}

.menulink > a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: var(--transition);
    color: black;
}

.menulink:hover > a {
    color: white;
}

.burger {
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/* HEADER */
header {
    text-align: center;
    padding: var(--padding);
}


h1 {
    font-size: 5rem;
    font-family: "tt-modernoir", sans-serif;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-family: "futura-pt-condensed", sans-serif;
    padding-bottom: 2rem;
}

.text-header {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 6rem 4rem 6rem ;
}

.btn-header {
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-header:hover {
    transition: var(--transition);
    background-color: var(--btn-color-hover);
}


/* ENTRADAS */
#entradas, #program {
    padding: var(--padding);
    text-align: center;
}

.cards-entradas {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.card {
    border: black solid 1.5px;
    background-color: blanchedalmond;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    
}


#entradas > h3 {
    font-size: 3rem;
    font-style: var(--font-modernoir);
    padding: 1rem;
}

.price {
    font-size: 2rem;
    padding: 0;
}

.titulo-entr {
    font-family: var(--font-futura);
    font-size: 1.5rem;
    padding-bottom: 5rem;
}

.btn-entradas {
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: Arial, Helvetica, sans-serif;
}


/* PROGRAMACIÓN */
#program > h3 {
    font-size: 3rem;
    font-style: var(--font-modernoir);
    padding: 1rem;
}

.cards-program {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.card-prom {
    border: black solid 1.5px;
    background-color: blanchedalmond;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    
}

#program > h3 {
    font-size: 3rem;
    font-style: var(--font-modernoir);
    padding: 1rem;
}

.titulo-prom {
    font-family: var(--font-futura);
    font-size: 1.5rem;
}

.fecha {
    padding-bottom: 5rem;
}

.dia {
    font-size: 2rem;
}

.btn-programa {
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: Arial, Helvetica, sans-serif;
}








/* MEDIA QUERIES */
@media screen and (max-width: 678px) {
    .burger {
        display: block;
    }

    .menu {
        margin: 0;
        background: black;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        z-index: 1;
        transition: all 0.33s;
    }

    .menulink {
        font-size: 2rem;
        text-align: center;
    }

    .menu-show {
        right: 0;
    }
}
