* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --btn-color: rgb(210, 194, 144);
    --btn-color-hover:rgb(167, 156, 119);
    --text-color: black;
    --padding: 2rem 6rem;
    --font-modernoir:tt-modernoir;
    --font-futura:futura-pt-condensed;
    --transition: all 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 999;
}

nav > .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-left, .menu-right {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.menu-left {
    padding-left: 5rem;
}

.menu-right {
    padding-right: 5rem;
}

.menulink {
    color: rgb(255, 255, 255);
    list-style: none;
    margin: 0;
    font-family: var(--font-futura);
}

.menulink > a {
    text-decoration: none;
    font-size: 1.2rem;
    transition: var(--transition);
    color: rgb(255, 255, 255);
}

.menulink:hover > a {
    color: white;
}

.logo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 auto;
}

.logo-menu img {
    max-height: 45px;
    width: auto;
    display: block;
    object-fit: contain;
}



.burger {
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

/* HEADER */
header {
    text-align: center;
    padding: var(--padding);
    background-color: antiquewhite;
    padding-bottom: 5rem;
    padding-top: 5rem;
    scroll-margin-top: 70px;
}


h1 {
    font-size: 8rem;
    font-family: var(--font-modernoir);
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 3rem;
    font-family:var(--font-futura);
    padding-bottom: 4rem;
}

.img-header > img {
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin: 0 auto;
    display: block;
    padding-bottom: 5rem;
    align-items: center;
}

.text-header {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 6rem 4rem 6rem ;
}

.btn-header {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: var(--font-futura);
}

.btn-header:hover {
    transition: var(--transition);
    background-color: var(--btn-color-hover);
}


/* ENTRADAS */
#entradas, #program {
    padding: var(--padding);
    text-align: center;
    min-height: calc(100vh - 70px);
    scroll-margin-top: 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px double white;
    justify-content: flex-start;
}

h3, .cards-entradas, .btn-entradas {
    position: relative;
    z-index: 1;
}
.cards-entradas {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 4.5rem;
}

.card {
    border: white solid 1.5px;
    outline: 6px double white;
    outline-offset: 4px;
    background-image: url("../img/old_noise_video.mp4");
    padding: 1.5rem;
    width: 300px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    
}


#entradas > h3 {
    font-size: 6rem;
    padding: 1rem;
}

h3 {
    font-family: var(--font-modernoir);
    color: white;
}

.entradas-abajo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 4rem;

}

.titulo-entr {
    font-family: var(--font-modernoir);
    font-size: 2.6rem;
    padding-bottom: 1.2rem;
    color: white;
    
}


.price {
    font-family: var(--font-futura);
    font-size: 3.5rem;
    padding: 0;
    color: white;

}

.cont-card {
    position: relative;
    z-index: 1;
    color: white;
}


.btn-entradas {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: var(--font-futura);
}

.btn-entradas:hover {
    transition: var(--transition);
    background-color: var(--btn-color-hover);
}

.video-entradas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* PROGRAMACIÓN */
#program > h3 {
    font-size: 3rem;
    font-style: var(--font-modernoir);
    padding: 1rem;
}

.cards-program {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.card-prom {
    border: black solid 1.5px;
    padding: 1.5rem;
    width: 200px;
    text-align: center;
    
}

#program > h3 {
    font-size: 3rem;
    font-style: var(--font-modernoir);
    padding: 1rem;
}

.titulo-prom {
    font-family: var(--font-futura);
    font-size: 1.5rem;
}

.fecha {
    padding-bottom: 5rem;
}

.dia {
    font-size: 2rem;
}

.btn-programa {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    border: black solid 1.5px;
    font-family: var(--font-futura);
}

.btn-programa:hover {
    transition: var(--transition);
    background-color: var(--btn-color-hover);
}

/* VÍDEO/CITA */
#video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);

}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-video {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

/* FORMULARIO */
#formulario {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.video-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#formulario {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido-formulario {
  position: relative;
  z-index: 1;
  text-align: center;
}
#formulario {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido-formulario {
  position: relative;
  z-index: 1;
  text-align: center;
}


/* FOOTER */







/* MEDIA QUERIES */
@media screen and (max-width: 678px) {

    /* MENÚ */
    .burger {
        display: block;
        padding-right: 1rem;
        color: white;
    }

    .menu {
        margin: 0;
        background: rgb(146, 146, 146);
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        z-index: 1;
        transition: all 0.33s;
    }

    .menulink {
        font-size: 2rem;
        text-align: center;
    }

    .logo-menu img {
        padding-left: 1rem;
    }

    .menu-show {
        right: 0;
    }

    /* HEADER */
    header {
        padding: 5rem 2rem;
    }

    h1 {
        font-size: 3.3rem;
        font-family: var(--font-modernoir);
        padding-bottom: 0.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
        font-family:var(--font-futura);
        padding-bottom: 1rem;
    }

    .img-header > img {
        padding-bottom: 2rem;
    }

    .text-header {
        padding: 0;
        padding-bottom: 2rem;
        font-size: 1rem;

    }

    .btn-header {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: var(--btn-color);
        color: var(--text-color);
        padding: 0.5rem 1rem;
        border: black solid 1.5px;
        font-family: var(--font-futura);
    }
    /* ENTRADA */

    #entradas {
        padding: 1rem 2rem;
    }
    
    #entradas > h3 {
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    .cards-entradas {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .card {
        width: 150px;
        height: 250px;

    }

    .titulo-entr {
        font-size: 2rem; 
    }

    .price {
        font-size: 2.75rem;
    }

    .btn-entradas {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: var(--btn-color);
        color: var(--text-color);
        padding: 0.5rem 1rem;
        border: black solid 1.5px;
        font-family: var(--font-futura);
    }

    /* VIDEO */
    #video {
        height: 100vh;
        padding: 3rem 2rem;
    }

    .video-fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    .text-video {
        font-size: 1.5rem;
    }
}
