* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}


/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aquamarine;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.menulink {
    list-style: none;
    margin: 0;
}

.menulink > a {
    text-decoration: none;
    font-size: 1.2rem;
}

.menulink:hover > a {
    color: black;
}

.burger {
    cursor: pointer;
    font-size: 2rem;
    display: none;
}


/* MEDIA QUERIES */
@media screen and (max-width: 678px) {
    .burger {
        display: block;
    }

    .menu {
        margin: 0;
        background: black;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        z-index: 1;
        transition: all 0.33s;
    }

    .menulink {
        font-size: 2rem;
        text-align: center;
    }

    .menu-show {
        right: 0;
    }
}
